* {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@font-face {
  font-family: 'Neo Sans Light';
  src: url('/Resources/Fonts/Neo_Sans_Light.ttf');
}

@font-face {
  font-family: 'Neo Sans';
  src: url('/Resources/Fonts/Neo_Sans.ttf');
}

@font-face {
  font-family: 'Neo Sans Italic';
  src: url('/Resources/Fonts/Neo_Sans_Italic.ttf');
}

@font-face {
  font-family: 'Neo Sans Medium';
  src: url('/Resources/Fonts/Neo_Sans_Medium.ttf');
}

@font-face {
  font-family: 'Neo Sans Bold';
  src: url('/Resources/Fonts/Neo_Sans_Bold.ttf');
}

@font-face {
  font-family: 'Rockwell Extra Bold';
    src: url('/Resources/Fonts/rockwell_extra_bold-webfont.eot');
    src: url('/Resources/Fonts/rockwell_extra_bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('/Resources/Fonts/rockwell_extra_bold-webfont.woff') format('woff'),
            url('/Resources/Fonts/rockwell_extra_bold-webfont.ttf') format('truetype'),
            url('/Resources/Fonts/rockwell_extra_bold-webfont.svg#rockwell_extra_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: white;
    font-family: Neo Sans, Times new Roman;
    color: #444444;
}

div#popupbg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clear {
    clear: both;
}

b {
    font-weight: bold;
}

a {
    color: #666666;
    text-decoration:none;
    cursor: pointer;
}

a.button {
    display: block;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    height: 21px;
    background-color: #e26a4b;
    color: white;
    margin: 5px;
}

a.button.inactive {
    background-color: grey;
    cursor: default;
}

a.button.floatleft {
    margin-left: 0;
}

a.button.floatright {
    margin-right: 0;
}

a:hover, a.selected {
    color: #e26a4b;
}

a.button.selected {
    background-color: #87c1c3;
    color: white;
}

a.button:hover {
    color: white;
}


table {
    border-collapse: collapse;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/*header*/

div#header {
    width: 100%;
    height: 70px;
    margin-bottom: 25px;
    background-color: #87c1c3;
    color: #eeeeee;
}

div#header div#logo {
    background-image: url('/Images/logo.png');
    width: 102px;
    height: 85px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -600px;
    z-index:5;
    background-repeat: no-repeat;
}

div#header input#search {
    width: 600px;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -300px;
    padding: 5px;
    font-size: 22px;
}

div#header a#search-button {
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: 310px;
    display: block;
    background-color: #e26a4b;
    font-size: 22px;
    color: white;
    font-weight: bold;
    height: 28px;
    padding: 4px;
    width: 50px;
    text-align: center;
}

div#header a#new-user-button {
    float: right;
}

input#search.gray {
    color: #aaaaaa;
}

div#nosense {
    display: none;
    border: 1px solid red;
    padding: 10px;
    padding-left: 60px;
    background-color: rgb(255, 220, 220);
    background-image: url('/Images/utropstecken.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 20px 10px;
    margin-bottom: 10px;
    min-height: 85px;
    width: 1128px;
}

div#research {
    display: none;
    border: 1px solid yellow;
    padding: 10px;
    padding-left: 60px;
    background-color: rgb(255, 255, 220);
    background-image: url('/Images/utropstecken.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 20px 10px;
    margin-bottom: 10px;
    min-height: 85px;
    width: 1128px;
}




div#spellingsuggestions a {
    margin-right: 10px;
}

div#related a {
    display: block;
}

div#autocomplete {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 53px;
    background-color: white;
    display: none;
    z-index:50;
    width: 610px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div#autocomplete a {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: black;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
}

div#autocomplete div.divider { 
    width: 600px;
    margin-left: 5px;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;

    background-color: #aaaaaa;
}

div#autocomplete a.selected, div#autocomplete a:hover {
     background:  #87c1c3;
    text-decoration: none;
    color: white;
}

div#autocomplete a span {
    font-weight: bold;
}

span.facet {
    font-weight: normal;
    color: #e26a4b;
}

div#leftcolumn {
    float: left;
    width: 220px;
}

div#filters, div#directresults,div#recommendedresults,div#related {
    float: left;
    background-color: #eeeeee;
    padding: 10px;
    margin-left: 10px;
    min-height: 500px;
}

div#related {
    display: none;
    margin-bottom: 10px;
    width: 200px;
    min-height: 0px;
    margin-left: 0;
}

div#main {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}


div#filters {
    margin-left: 0px;
    width: 210px;
}

div#filters div.filterdiv {
    margin-bottom: 20px;
}

div#filters div.hideable {
    display: none;
}

div#filters a {
    display: block;
    margin-left: 16px;
}

div#filters a.showhide {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
    color: #1e5e5a;
	font-weight:bold;
    margin: 0;
}

div#filters a.selected {
    font-weight: bold;
    margin-left: 0px;
    padding-left: 16px;
    background-image: url('/Images/cancel.png');
    background-repeat: no-repeat;
    background-size: 8px 8px;
    background-position: 4px;
}

div#directresults {
    width: 650px;
}

div#directresults.fillout {
    width: 950px;
}

div#recommendedresults {
    width: 260px;
}

div.entity {
    width: 130px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    overflow-y: hidden;
    overflow-x: hidden;
}

div.entity a {
    display: block;
    margin: 10px;
}

div.entity a div {
    width: 138px;
    height: 138px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    background-color: white;
}

div#recommendedresults div.entity a div {
    width: 123px;
    height: 123px;
}


div.pages {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

div.pages a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #e26a4b;
    text-align: center;
    font-weight: bold;
    color: white;
}

div.pages a.selected {
    background-color: #87c1c3;
}

div.pages a:hover {
    color: white;
}

div.pages span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    color: black;
}

div.entitypopup {
    position: absolute;
    width: 700px;
    background-color: #eeeeee;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    top: 20px;
    left: 50%;
    margin-left: -370px;
    z-index: 50;
    word-break: break-all;
}

a.close {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    top: 5px;
    right: 5px;
    background-color: #e26a4b;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

div.entitypopup img {
    width: 300px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

div.entitypopup h2 {
    float: left;
    width: 385px;
    font-weight: bold;
}

div.entitypopup div.description {
    float: left;
    width: 385px;
    margin-bottom: 15px;
}

div.entitypopup a.button {
    float: left;
    margin: 0;
}

div.entitypopup span {
    display: block;
    margin-bottom: 10px;
}

div.entitypopup a.showhide {
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
    color: #e26a4b;
}

div.entitypopup div.moreinfo {
    display: none;
    clear: both;
}



div#directresults div.endofresults {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}



/* 4+2 bredd, 0.9 ratio*/
div#filters {
    width: 200px;
}

div#directresults {
    width: 632px;
}

div#recommendedresults {
    width: 287px;
}

div.entity {
    width: 158px;
    height: 190px;
}

div#recommendedresults div.entity {
    width: 143px;
    height: 175px;
}